<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cryptocurrency Converter</title>
</head>
<body>


    <h1>Cryptocurrency to Fiat currency converter</h1>

    <form action="#" th:action="@{/}" th:object="${converter}"  method="post">
        <div>
            <label for="currenciesList">Select Cryptocurrency</label>
            <select id="currenciesList" onchange="this.form.submit()" th:field="*{cryptoSymbol}" >
                <option value="" disabled selected>Cryptocurrency</option>
                <option
                        th:each="crypto : ${cryptocurrencies}"
                        th:value="${crypto.getSymbol()}"
                        th:text="${crypto.getSymbol() + ' - ' + crypto.getName()}"></option>
            </select>
            <br />
            <br />
            <div>
<!--                <h3>Ip</h3>-->
                <label> Provide Ip to convert to local fiat currency
                    <input th:field="*{ip}" placeholder="ex: 192.168.0.1"/>
                </label>
            </div>
        </div>
    </form>
    <hr/>
    <div>
        <div>
            <span th:if="${converter.getErrorMessage() != null}">
                <h4 th:text="'Could not get price for selected value due to: ' + ${converter.getErrorMessage()}"></h4>
                <h4>Displaying value in default fiat currency</h4>
            </span>
        </div>
        <br />
        <h2> Coin Value </h2>
        <span th:if="${converter.getCryptoSymbol() != null &&  converter.getValueInFiatCurrency() != null}">
            <h3 th:text="1 + ' ' +  ${converter.getCryptoSymbol() + ' = ' + converter.displayFiatCurrencyValueInLocalFormat()}"></h3>
        </span>
    </div>

</body>
</html>
