<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cryptocurrency Converter</title>
</head>
<body>

    <form action="#" th:action="@{/}" th:object="${converter}"  method="post">
        <div>
            <label for="currenciesList">Select Currency</label>
            <select id="currenciesList" onchange="this.form.submit()" th:field="*{valueInUsd}" >
                <option value="">Cryptocurrency</option>
                <option th:each="crypto : ${cryptocurrencies}" th:value="${crypto.getValueInUsd()}" th:text="${crypto.thicker + ' - ' + crypto.name}"></option>
            </select>
            <br />
            <br />
            <div>
                <h3>Ip</h3>
                <label>
                    <input th:text="ip" th:field="*{ip}"/>
                </label>
            </div>
        </div>
    </form>
    <div>
        <h2> Coin Value </h2>
        <h3 th:text="${converter.getValueInUsd()}"></h3>
    </div>


</body>
</html>
